.password-verify {
    .background-bar {
        border: 1px solid #d5d5d5;
        height: 0.35em;
        .default-state-bar {
            height: 100%;
            background: #efefef;
            transition-duration: 1000ms;
        }
        .not-equals-state-bar {
            height: 100%;
            background: #db524f;
            transition-duration: 1000ms;
        }
        .equals-state-bar {
            height: 100%;
            background: #9df13b;
            transition-duration: 1000ms;
        }
    }
}
