.password-strength {
    .background-bar {
        border: 1px solid #d5d5d5;
        height: 0.35em;
        .state-bar {
            height: 100%;
            float: right;
            background: #ffffff;
            border: 1px solid #d5d5d5;
        }
        .s0 {
            background-color: #efefef;
            width: 100%;
            border: none;
        }
        .s1 {
            width: 90%;
            transition-property: width;
            transition-duration: 1000ms;
        }
        .s2 {
            width: 80%;
            transition-duration: 1000ms;
        }
        .s3 {
            transition-duration: 1000ms;
            width: 70%;
        }
        .s4 {
            transition-duration: 1000ms;
            width: 60%;
        }
        .s5 {
            transition-duration: 1000ms;
            width: 50%;
        }
        .s6 {
            transition-duration: 1000ms;
            width: 40%;
        }
        .s7 {
            transition-duration: 1000ms;
            width: 30%;
        }
        .s8 {
            transition-duration: 1000ms;
            width: 20%;
        }
        .s9 {
            transition-duration: 1000ms;
            width: 10%;
        }
        .s10 {
            transition-duration: 1000ms;
            width: 0;
        }
    }
    .active-bar {
        border: none;
        background: linear-gradient(to right, #db524f, #9df13b);
    }
}
