/**
*   GREENFENCE
*/
$menuColor: #38393d;

/**
*   TYPOGRAPHY
*/
$textBlack: #38393d;
$textGrey: #929ca6;
$textGreen: #3acb82;
$textOrgane: #ff7449;

/**
*   GREY HUE
*/
$hue0: #f7f7f7;
$hue1: #ecf0f4;
$hue2: #949ca5;
$hue3: #38393d;

/**
*  CORE COLORS
*/
$green: #00c771;
$blue: #ecf0f4;
$organge: #949ca5;
$grey0: #38393d;
$grey1: #d0cece;
$grey2: #696969;
$yellow: #ffc000;

$errorRed: #ff7449;
